.react-tel-input {
}

.react-tel-input > .special-label {
  display: none;
}

.react-tel-input > .form-control {
  border: 1.5px solid #333333;
  border-radius: 6px;
  padding-left: 0.75rem;
  height: 4rem;
  width: 100%;
}
